$css-prefix:                  rn !default;
$option-page-color:           #0073aa !default;
$reon-theme-color:            #00a0d2 !default;
$reon-focus-color:            #aabdc3 !default;
$page-border-radius:          6px;
$panel-border-radius:         5px;
$panel-small-border-radius:   4px;
$buttons-border-radius:       4px;
$fields-border-radius:        3px;
$fields-choice-border-radius: 3px;
